@model Videoteka.ViewModels.CustomerViewModel

<h2>Uređivanje kupca</h2>

@using (Html.BeginForm("Edit", "Customers", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, "Ime", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BirthDate, "Datum rođenja", htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.BirthDate, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MembershipTypeId, "Tip članstva", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.MembershipTypeId, new SelectList(ViewBag.MembershipTypes, "Id", "Name"), "Izaberite članstvo", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MembershipTypeId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerTypeId, "Tip kupca", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.CustomerTypeId, new SelectList(ViewBag.CustomerTypes, "Id", "Name"), "Izaberite tip kupca", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CustomerTypeId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="form-check">
            @Html.CheckBoxFor(model => model.Notifications, new { @class = "form-check-input" })
            @Html.LabelFor(model => model.Notifications, "Prima obavještenja", htmlAttributes: new { @class = "form-check-label" })
        </div>
        @Html.ValidationMessageFor(model => model.Notifications, "", new { @class = "text-danger" })
    </div>


    @Html.AntiForgeryToken()
    @Html.ActionLink("Nazad", "Index", "Customers", null, new { @class = "btn btn-default" })
    <input type="submit" value="Sačuvaj promjene" class="btn btn-primary" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
